[submodule "qgooglecalendar"]
	path = qgooglecalendar
	url = https://github.com/cybercatalyst/qgooglecalendar.git
[submodule "qoauth2"]
	path = qoauth2
	url = https://github.com/cybercatalyst/qoauth2.git
